{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container" align="center">
		<div class="col-md-3">
			<h1 class="h3 mb-3 font-weight-normal">Register</h1>

			<div style="text-align: left">
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.mail) }}
				{{ form_row(registrationForm.full_name) }}
			</div>
<br>
			<button type="submit" class="btn btn-lg btn-outline-success">Register</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
