{% extends 'base.html.twig' %}

{% block body %}



<div class="container" align="center">
<h1 class="h3 mb-3 font-weight-normal">Last 10 modified PHP libraries</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success col-sm-4">
                {{ message }}
            </div>
        {% endfor %}
</div>
<div class="container">  
<br>
    <div class="row">
    {% for library in libraries %}
             <div class="col-sm-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">{{library.name}}</h5>
                        <p class="card-text">{{library.description}}</p>
                        <p class="card-text">Language: {{library.language}}</p>
                        <small><a href="{{library.repositoryUrl}}" target="_blank" class="text-muted">{{library.repositoryUrl}}</a></small>
                    </div>
                    <div class="card-footer">
                        <div align="right">
                        {% if library.name not in wishlistArray|keys %}
                                <a method="GET" href="{{ path('app_wishlistAdd', {'platform': library.platform, 'searchString': library.name}) }}" class="text-muted">
                                <h4><i class="bi bi-heart"></i></h4></a>
                        {% else %}
                                <a method="GET" href="{{ path('app_wishlistDelete', {'id': wishlistArray[library.name].id }) }}" class="text-muted">
                                <h4><i class="bi bi-heart-fill"></i></h4></a>
                        {% endif %}
                        </div>
                        <small class="text-muted">
                        Last updated {{ library.latestReleasePublishedAt|date('Y-m-d h:i')}} 
                        </small>
                        
                    </div>
                </div>
            </div> 
    {% endfor %}

    </div>
</div>    
{# {{ dump (libraries)}} #}

{% endblock %}
