{% extends 'base.html.twig' %}

{% block body %}
{% set activePage = app.session.get('pageNumber') %}
{% set countNextResult = libraries|length %}


<div class="container" align="center">
<h1 class="h3 mb-3 font-weight-normal">Search results</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success col-sm-4">
                {{ message }}
            </div>
        {% endfor %}
</div>
<div class="container">  
<div class="table">
<br>
    <div class="row">
        <div class="position-relative">
                <div class="position-absolute top-50 start-0 translate-middle">
                    <form class="d-flex" method="POST" action="{{ path('app_search', { 'pageNumber' : ( activePage - 1) })}}">
                      <input type="hidden" name="search" value="{{app.session.get('searchString')}}" />
                      <button class="btn btn-outline-success" type="submit" 
                      {% if activePage == 1 %}
                        disabled
                      {% endif %}
                      >Prev</button>
                    </form>
                </div>
                <div class="position-absolute top-50 start-100 translate-middle">
                    <form class="d-flex" method="POST" action="{{ path('app_search', { 'pageNumber' : ( activePage + 1) })}}">
                      <input type="hidden" name="search" value="{{app.session.get('searchString')}}" />
                      <button class="btn btn-outline-success" type="submit"
                      {% if countNextResult <= 11 %}
                        disabled
                      {% endif %}
                      >Next</button>
                    </form>
              </div>   
        </div>
    </div>    
    <div class="row">
    {% for library in libraries %}
             <div class="col-sm-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">{{library.name}}</h5>
                        <p class="card-text">{{library.description}}</p>
                        <p class="card-text">Language: {{library.language}}</p>
                        <small><a href="{{library.repositoryUrl}}" target="_blank" class="text-muted">{{library.repositoryUrl}}</a></small>
                    </div>
                    <div class="card-footer">
                        <div align="right">
                        {% if library.name not in wishlistArray|keys %}
                                <a method="GET" href="{{ path('app_wishlistAdd', {'platform': library.platform, 'searchString': library.name}) }}" class="text-muted">
                                <h4><i class="bi bi-heart"></i></h4></a>
                        {% else %}
                                <a method="GET" href="{{ path('app_wishlistDelete', {'id': wishlistArray[library.name].id }) }}" class="text-muted">
                                <h4><i class="bi bi-heart-fill"></i></h4></a>
                        {% endif %}
                        </div>
                        <small class="text-muted">
                        Last update {{ library.latestReleasePublishedAt|date('Y-m-d h:i')}} 
                        </small>
                        
                    </div>
                </div>
            </div> 
    {% endfor %}

    </div>
</div>    
</div>
{% endblock %}