{% extends 'base.html.twig' %}


{% block body %}


        
<div class="container" align="center">
<h1 class="h3 mb-3 font-weight-normal">My Wishlist</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success col-sm-4">
                {{ message }}
            </div>
        {% endfor %}
</div>
<div class="container">       
<br>
<div class="table">
    <div class="row">
        <form class="d-flex" method="POST" action="{{ path('app_search', { 'pageNumber' : app.session.get('pageNumber')  })}}">
            <input type="hidden" name="search" value="{{app.session.get('searchString')}}" />
            <button class="btn btn-outline-success" type="submit"
                      {% if app.session.get('searchString') is empty %}
                        disabled
                      {% endif %}
                      >Back to results
            </button>
        </form>
    </div> 
    <div class="row">
    {% for library in wishlists %}
             <div class="col-sm-3">
                <div class="card m-1">
                    <div class="card-body">
                        <h5 class="card-title">{{library.name}}</h5>
                        <p class="card-text">{{library.description}}</p>
                        <p class="card-text">Language: {{library.language}}</p>
                        <small><a href="{{library.repositoryUrl}}" target="_blank" class="text-muted">{{library.repositoryUrl}}</a></small>
                    </div>
                    <div class="card-footer">
                        <div align="right">
                        <a method="GET" href="{{ path('app_wishlistDelete', {'id': library.id}) }}" class="text-muted">
                        <h4><i class="bi bi-heart-fill"></i></h4></a>
                        </div>
                        <small class="text-muted">
                        Last updated {{ library.latestReleasePublishedAt|date('Y-m-d h:i')}} 
                        </small>
                        
                    </div>
                </div>
            </div> 
    {% endfor %}

    </div>
</div>  
</div>  
<script>
{% endblock %}
