<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Simple Wishlist Demo App
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
			<link href="{{ asset('App/public/main.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}


	</head>
	<body>
		<div class="container">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Wishlist Demo App</a>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
							</li>
							{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_wishlist')}}">My Wishlist</a>
							</li>
							{% endif %}

						</ul>
						<ul class="navbar-nav navbar-right">
							{% if not app.user %}
								<li class="nav-item ">
									<a class="nav-link" href="{{path('app_registration')}}">Register</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('app_login')}}">Log In</a>
								{% else %}
									<a class="nav-link" href="{{path('app_logout')}}">Log Out</a>
								{% endif %}
							</li>
						</ul>
						<form class="d-flex" method="POST" action="{{ path('app_search')}}">
							<input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>

		</div>
		{% block body %}{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
